<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kayleoi.springbootcommunity.dao.AdMapper">
  <resultMap id="BaseResultMap" type="com.kayleoi.springbootcommunity.model.Ad">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="gmt_start" jdbcType="BIGINT" property="gmtStart" />
    <result column="gmt_end" jdbcType="BIGINT" property="gmtEnd" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="pos" jdbcType="VARCHAR" property="pos" />
  </resultMap>
</mapper>