<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kayleoi.springbootcommunity.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.kayleoi.springbootcommunity.model.Comment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="commentator" jdbcType="INTEGER" property="commentator" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
    <result column="like_count" jdbcType="BIGINT" property="likeCount" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
</mapper>